body{
    font-family: poppins;
    line-height: 1.5;
}

strong{
    font-weight: 700;
}

main{
    width: 100%;
    margin: 0 auto;
}

.aboutMe{
    width: 80%;
    display: flex;
    margin: 50px auto;
    align-items: center;
}


.columnaDerecha{
display: inline-block;
}

.fotopipe{
    max-width: 500px;
    height: auto;
}

.nombre{
    color: #132142;
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

.dedicacion{
    color: #132142;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px 0;
}

.descripcion{
    color: #132142;
    font-size: 1rem;
    font-weight: 400;
    margin: 20px 0;
    text-align: justify; 
}

.downloadcv{
    background-color: #F38F1A;
    color: white;
    font-family: poppins;
    font-size: 1rem;
    /*arriba izquierda abajo derecha*/
    padding: 15px;
    border-radius: 30px;
    border-color: rgba(255, 255, 255, 0);
    font-weight: 700;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.13);

}

.columnaIzquierda{
    width: 80%;
    display: inline-block;
}



.talk{
    color: #132142;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 50px 0;
    display: flex;
    align-items: center;
}

.icons{
    margin: 0px;
}

.linkedin{
    margin-left: 8px;
}



.experience{
    background-color: #132142;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    padding: 0px 0px 60px 0px;
    
}

.titleExperience{
    color: white;
    padding-top: 50px;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;

}

h1{
    font-weight: 700;
    font-size: 2.5rem;
}

.slide-container{
    width: 70%;
}

.contenedor-tarjetas{
    display: block;
}

.tarjeta1{

    border-radius: 30px;
    margin: 15px auto;
    padding: 80px;
    width: 100%;
    background-color: white;

}
.tarjeta2{

    border-radius: 30px;
    margin: 15px;
    padding: 35px;
    width: 550px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.subtitleExperience{
    font-weight: 700;
    color: #132142;
    margin: 0%;
    padding: 0%;
}

.months{
    color: rgba(19, 33, 66, 0.45);
    font-weight: 400;
}

p{
    color: #132142;
    margin: 0%;
    padding: 0%;
}

.face{
    margin-left: 8px;
}
.whats{
    margin-left: 8px;
}


.fotoEmpresa{
    display: inline-block;
    vertical-align: top;
}

.infoTarjeta{
    margin-left: 20px;
    width: 80%;
    display: inline-block;
}

hr{
    width: 100%;
    margin: 30px 0;
}

/*EMPIEZA CSS PROGRESS BAR */

.circulosProgreso{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.skill{
    width: 160px;
    height: 160px;
    position: relative;
    margin: 50px;
    display: inline-block;
}

.skill p{
    margin-top: 15px;
}

.outer{
    height: 160px;
    width: 160px;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
    -6px -6px 10px -1px rgba(255,255,255,0.7);
    border-radius: 50%;
}

.inner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0,0 , 0.05);
    border-radius: 50%;
}

.imagenprogressbar{
    width: 70px;
}

#numberjs{
    font-weight: 700;
    font-size: 2rem;
    color: #132142;
}

#numberwordpress{
    font-weight: 700;
    font-size: 2rem;
    color: #132142;
}

#numberfigma{
    font-weight: 700;
    font-size: 2rem;
    color: #132142;
}

#numberphotoshop{
    font-weight: 700;
    font-size: 2rem;
    color: #132142;
}

#numberillustrator{
    font-weight: 700;
    font-size: 2rem;
    color: #132142;
}

.circlehtml{
    fill: none;
    stroke: url(#GradientColorhtml);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: animhtml 2s linear forwards;
}

@keyframes animhtml{
    100%{
        stroke-dashoffset: 0;
    }
}


.circlecss{
    fill: none;
    stroke: url(#GradientColorcss);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: animcss 2s linear forwards;
}


@keyframes animcss{
    100%{
        stroke-dashoffset: 0;
    }
}

.circlejs{
    fill: none;
    stroke: url(#GradientColorjs);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: animjs 2s linear forwards;
}


@keyframes animjs{
    100%{
        stroke-dashoffset: 0;
    }
}

.circlewordpress{
    fill: none;
    stroke: url(#GradientColorwordpress);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: animwordpress 2s linear forwards;
}


@keyframes animwordpress{
    100%{
        stroke-dashoffset: 0;
    }
}

.circlefigma{
    fill: none;
    stroke: url(#GradientColorfigma);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: animfigma 2s linear forwards;
    
}

@keyframes animfigma{
    100%{
        stroke-dashoffset: 0;
    }
}

.circlephotoshop{
    fill: none;
    stroke: url(#GradientColorphotoshop);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: animphotoshop 2s linear forwards;
}


@keyframes animphotoshop{
    100%{
        stroke-dashoffset: 0;
    }
}

.circleillustrator{
    fill: none;
    stroke: url(#GradientColorillustrator);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: animillustrator 2s linear forwards;
}


@keyframes animillustrator{
    100%{
        stroke-dashoffset: 0;
    }
}


/*TERMINA CSS PROGRESS BAR*/

.cuadro{
    background-color: aliceblue;
    width: 500px;
    height: 500px;
}

svg{
    position: absolute;
    top: 0;
    left: 0;
}

.skill p{
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
}

.titleExperience{

    padding-top: 50px;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;

}

#titleskills{
    color: #132142;
    text-align: center;
    padding-top: 50px;
}



.titleportfolio{
    color: #132142;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 40px;
}


.proyectos{

    position: relative;
    width: 70%;
    display: block;
    margin: 0 auto;
    text-align: center;
    
}
.textoproximamente{
    color: #FFFFFF;
    font-size: 3rem;
}
.contenedor-imagen{
    position: relative;
    margin: 0 auto;
    justify-content: center ;
    

}

.contenedor-imagen:hover .texto{
    opacity: 1;
    
}


.texto {
    position: absolute;
    font-size: 2.5rem;
    opacity: 0;
    transition: all 0.3s ease;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1.5s ease-in-out;
    padding: 10px;

}

.texto:hover{
    opacity: 1;
}

.contenedor {
    position: relative;
    width: 45%;
    display: inline-block;
    margin: 1vw;
}

.contenedor img{
    transition: opacity 1.5s ease-in-out;
}





.prueba{
    width: 100%;
    border: none;
    background-color: black;
    border-radius: 30px;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.384);
    transition: opacity 1.5s ease-in-out;
    
}

.contenedor img.top{
    position: absolute;
    width: 100%;
    border: none;
    background-color: black;
    border-radius: 30px;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.384);
}

.contenedor img.top:hover{
    opacity: 0;
}


.proximamente{
    width: 550px;
    border: none;
    background-color: black;
    border-radius: 30px;
    margin: 25px;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.384);    
}






.form-contact{
    width: 70%;
    background-color: white;
    padding: 50px;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.lets-talk{
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.lets-talk h1{
    color: #132142;
    margin-bottom: 40px;
}


label{
    display: block;
    margin-left: 20px;
    color: #132142;
    font-weight: 600;
}

.info{
    width: 40%;
    display: inline-block;
    text-align: center;
}

.info img{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

input{
    border-radius: 30px;
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
    height: 50px;
    background-color: #e8efff;
    color: #132142;
    padding: 20px;
}

input:focus{
    outline: none;
}

.enviar-formulario{
    background-color: #F38F1A;
    color: white;
    width: 50%;
    border-radius: 30px;
    padding: 15px;
    border: none;
    font-weight: 800;
    font-size: 1.2rem;
    box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.15);
}

.mensaje-correo{
    border-radius: 30px;
    display: block;
    width: 100%;
    height: 300px;
    resize: none;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;

    background-color: #e8efff;
    color: #132142;
    padding: 20px;
    
}

textarea:focus{
    outline: none;
}

.redes{
    display: inline-block;
    padding: 20px;
    box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.15);
    border-radius: 30px;
}

.info h1{
    color: #132142;
    font-size: 2rem;
    margin-bottom: 20px;
}

.redes img{
    max-width: 50px;
    height: auto;
    margin: 0 15px;
}



#contenido{
    width: 100%;
}

.animado{
    position: relative;
    width: 100%;
    height: 80px;
    margin: 0px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.animado2{
    position: relative;
    width: 100%;
    height: 80px;
    margin: 0px;
    background: #132142;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    text-align: center;
    margin-bottom: 50px;
}

footer h2{
    color: #132142;
    font-size: 1.2rem;
    font-weight: 700;
}

footer p{
    margin: 20px;
    color: #132142;
    font-weight: 600;
    font-size: 1.2rem;
}

#copy{
    font-size: .8rem;
    font-weight: 100;
}


@media only screen and (min-width: 601px) and (max-width: 1000px){
    .aboutMe{
        width: 90%;
        display: block;
    }

    .columnaDerecha{
        width: 100%;
        text-align: center;
    }

    .columnaIzquierda{
        text-align: center;
        width: 100%;
    }

    .dedicacion{
        margin: 20px auto;
    }

    .downloadcv{
        width: 80%;
        height: 50px;
    }

    .talk{
        display: block;
        margin: 40px 0 0 0;
    }

    .linkedin{
        margin: 5px 0;
    }

    .whats{
        margin: 5px 0;
    }

    .proyectos{
        width: 90%;
    }

    .slide-container {
        width: 90%;
    }
    .form-contact{
        width: 90%;
    }
}



@media only screen and (max-width: 600px) {


    main{
        width: 100%;
        margin: 0 auto;

    }

    .skill{
        align-self: center;
        justify-self: center;
    }



    .slide-container{
        width: 90%;
    }


    .fotopipe{
        width: 100%;
    }




    .proyectos{
        display: block;
        width: 90%;
        
    }

    .contenedor {
        width: 100%;
        margin: 0 0 20px 0;
    }



    .prueba{
        width: 100%;
        display: block;

    }

    .aboutMe{
        margin: 0px auto;
        width: 90%;
        display: block;
    }

    .columnaIzquierda{
        width: 100%;
    }

    .columnaDerecha{
        display: block;
        margin: auto;
    }

    .experience{
        padding: 0;
    }

    .titleExperience {
        padding: 10px 0;

    }


    .contenedor-tarjetas{
        display: block;
        width: 90%;
        text-align: center;
    }

    .tarjeta1{
        width: 100%;
        height: auto;
        margin: 20px auto;
        text-align: center;
        padding: 20px;

    }

    img{
        display: block;
        margin: auto;
    }

    .infoTarjeta{
        margin: 0 auto;
        text-align: center;
    }

    .fotoEmpresa{
        display: block;
        margin: 15px auto;
    }

    .nombre{
        font-size: 3rem;
        text-align: center;
    }

    .dedicacion {
        display: block;
        text-align: center;
        font-size: 1rem;
        display: flex;
        margin: auto;
    
    }

    .downloadcv{
        display: block;
        margin: auto;
        padding: 15px;
        margin-top: 8px;
        width: 100%;
        margin-bottom: 20px;
    }

    .talk {
        display: block;
        margin: 40px 0 0 0;
    }

    .contacto{
        display: flex;
        justify-content: center;
    }

    .icons{
        display: flex;
        justify-content: center;
        margin: 0%;
        padding: 0%;
    }

    .linkedin{
        margin: 10px;
    }

    .whats{
        margin: 10px;
    }

    #titleskills{
        padding: 0;
        width: 90%;
        margin: 0 auto;
    }

    .titleportfolio{
        padding: 0;
        margin: 0 0 30px 0;
    }

    .form-contact{
        width: 90%;
        display: block;
        padding: 30px;
    }

    .lets-talk{
        width: 100%;
    }
    .lets-talk h1{
        text-align: center;
    }

    .enviar-formulario{
        width: 100%;
    }

    .info{
        width: 100%;
        margin-top: 30px;
    }

    .info #getintouch{
        display: none;
    }

    .redes{
        display: block;
    }
    .redes img{
        display: inline-block;
    }

    .redes h1{
        text-align: center;
    }

}

.bi-whatsapp{
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: rgb(255, 255, 255);
    font-size: 2em;
    z-index: 10000;
}

.bi-whatsapp::before{
    background-color: #12d73a;
    padding: 10px;
    border-radius: 100%;
}



